<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.app.abeeofferwal"
  xmlns:tools="http://schemas.android.com/tools"
>

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission
    android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />


  <application
    android:label="sdk_eums_example"
    android:name="${applicationName}"
    android:icon="@mipmap/ic_launcher"
    android:usesCleartextTraffic="true"
  >
    <service
      android:name="flutter.overlay.window.flutter_overlay_window.OverlayService"
      android:exported="false"
    />
    <service
        android:name="com.pravera.flutter_foreground_task.service.ForegroundService"
        android:stopWithTask="true" />

    <activity
      android:name="com.nextapps.naswall.NASWallBrowser"
      android:configChanges="keyboardHidden|orientation|screenSize"
      android:exported="true">
      <intent-filter tools:ignore="AppLinkUrlError">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>
    </activity>
    <activity android:name="com.nextapps.naswall.NASWall"
      android:configChanges="keyboardHidden|orientation" />

    <activity
      android:name=".MainActivity"
      android:exported="true"
      android:launchMode="singleTop"
      android:theme="@style/LaunchTheme"
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
      android:hardwareAccelerated="true"
      android:windowSoftInputMode="adjustResize"
    >
      <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
      <meta-data
        android:name="io.flutter.embedding.android.NormalTheme"
        android:resource="@style/NormalTheme"
      />

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name="com.fpang.lib.AdSyncList"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.AdSync"></activity>
    <activity
      android:name="com.fpang.lib.FreePangPang"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.AdSync"></activity>
    <activity
      android:name="com.kyad.adlibrary.AppAllOfferwallActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
      android:exported="true"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:scheme="AppAllOfferwall"
          tools:ignore="AppLinkUrlError" />
      </intent-filter>
    </activity>
    <meta-data
      android:name="partner_id"
      android:value="15395-20191008-090" />
    <meta-data
      android:name="title_color"
      android:value="#00e0e0" /> <!-- 타이틀 텍트스 크기 설정 (dp 단위,
        미설정 시 21dp) -->
    <meta-data
      android:name="title_size"
      android:value="21" />
    <!-- 닫기 버튼의 위치 (L: 좌측, R 또는 미설정 시 우측) -->
    <meta-data
      android:name="title_close_pos"
      android:value="R" />
    <!-- 닫기 버튼의 좌/우 마진 (dp 단위, 미설정 시 기본 15dp) -->
    <meta-data
      android:name="title_close_margin"
      android:value="15" /> <!-- 타이틀 높이 (dp 단위) -->
    <meta-data
      android:name="title_height"
      android:value="50" />
    <!-- 닫기 버튼의 width (dp 단위) -->
    <meta-data
      android:name="title_close_width"
      android:value="20" /> <!-- 닫기 버튼의 height (dp 단위) -->
    <meta-data
      android:name="title_close_height"
      android:value="20" />
    <meta-data
      android:name="adpopcorn_app_key"
      android:value="449540558" />
    <meta-data
      android:name="adpopcorn_hash_key"
      android:value="4e5c2d2ee6a042ab" />
    <activity
      android:name="com.igaworks.adpopcorn.activity.ApOfferWallActivity_NT"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
      android:theme="@android:style/Theme.NoTitleBar" />
    <activity
        android:name="com.igaworks.adpopcorn.activity.ApVideoAdActivity"
        android:theme="@android:style/Theme.NoTitleBar" />
    <meta-data
        android:name="adpopcorn_reward_server_type"
        android:value="server"></meta-data>

    <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
    <meta-data android:name="flutterEmbedding" android:value="2" />
    <meta-data
      android:name="naswall_app_key"
      android:value="fbc53e91f7d177d2257310f2b37aad3e" />
    <meta-data
      android:name="ive_sdk_appcode"
      android:value="mO4blQG3L7" />
    <meta-data android:name="ive_sdk_is_cps_active" android:value="true" />
    <service
        android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
        android:enabled="true" />
    <meta-data
      android:name="ive_sdk_offerwall_title"
      android:value="오퍼월 테스트 프로젝트" />
    <activity
      android:name="com.tnkfactory.ad.AdWallActivity"
      android:exported="true" />
    <activity
      android:name="com.tnkfactory.ad.AdMediaActivity"
      android:exported="true"
      android:screenOrientation="portrait" />
    <meta-data android:name="tnkad_app_id" android:value="20c0f080-5021-9877-7789-12030e0e0a0a" />
  </application>
</manifest>